.done-container {
    padding: 20px;
    background-color: #f4fff0;
    border-radius: 8px;
    margin-top: 20px;
}

.done-title {
    font-size: 1.5em;
    color: #4caf50;
}

.done-list {
    list-style-type: none;
    padding: 0;
}

.done-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e0f7e9;
    border-radius: 5px;
    font-size: 1.1em;
    color: #333;
}

.done-item p{
    margin: 0;
    opacity: 0.7;
}
